@using Application.Security
@using Domain.ViewModels.Banner
@using Eshop.Common
@model FilterBannerViewModel


<div style="margin-top: 110px" class="col-xs-12 col-md-12">
    <form id="indexForm">
        <div class="well with-header  with-footer">
            <div class="header bg-darkorange">
                بنر ها
            </div>
            <input type="hidden" asp-for="Page" id="page" />
            <a style="margin-bottom: 20px" class="btn btn-primary shiny " href="/Admin/AddBanner"><i class="fa fa-plus"></i> افزودن بنر</a>
            <table class="table table-hover table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        
                        <th>
                            لینک
                        </th>
                        <th>
                            محل قرارگیری
                        </th>
                        <th>
                            سایز
                        </th>
                        <th>
                            دستورات
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Entities)
                    {
                        <tr>
                            <td>
                                @item.Link
                            </td>
                            <td>
                                @item.Position.GetEnumDisPlayName()
                            </td>
                            <td>
                                @item.BannerCol.GetEnumDisPlayName()
                            </td>
                            
                            <td>
                                <Authrize permission-id="@Permissions.Admin">
                                    <a href="/Admin/DeleteBanner/@item.Id" class="btn btn-outline-danger btn-danger shiny">
                                        حذف
                                        <i class="fa fa-times"></i>
                                    </a>
                                </Authrize>
                                <Authrize permission-id="@Permissions.Admin">
                                    <a href="/Admin/EditBanner/@item.Id" class="btn btn-outline-light btn-light btn-purple   shiny">
                                        ویرایش
                                        <i class="btn-label fa fa-warning"></i>
                                    </a>
                                </Authrize>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <partial name="_Paging" model="@Model.GetCurrentPaging()" />

        </div>
    </form>
</div>


@section Section
    {
    <script>
        function OnClick(pageId) {
            $("#page").val(pageId)
            $("#indexForm").submit();

        }
    </script>
}