@using Domain.ViewModels.Product
@using Domain.Models.Banner
@using Domain.Models.Enums
@{
    var products = ViewData["Products"] as List<ProductCartViewModel>;
    var banners = ViewData["Banners"] as List<Banner>;
}

<main class="page-content">
    <div class="container">
        <div class="row mb-3 d-sm-block d-none">
            @if (banners != null && banners.Any(c => c.Position == BannerPosition.Top))
            {



                <div class="col-12">
                    <!-- start of banner -->
                    <div class="banner-img">
                        <a href="@banners.FirstOrDefault(c=>c.Position==BannerPosition.Top).Link"><img src="/Images/banners/@banners.FirstOrDefault(c=>c.Position==BannerPosition.Top).ImageName" alt="banner"></a>
                    </div>
                    <!-- end of banner -->
                </div>
            }
        </div>
        <div class="row mb-5">
            @if (banners != null && banners.Any(c => c.Position == Domain.Models.Enums.BannerPosition.Slide))
            {
                <div class="col-lg-8 mb-lg-0 mb-4">
                    <!-- start of main-slider -->
                    <div class="swiper main-swiper-slider">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            @foreach (var item in banners.Where(c => c.Position == Domain.Models.Enums.BannerPosition.Slide))
                            {
                                <div class="swiper-slide main-swiper-slide">
                                    <a href="@item.Link"
                               style="background-image: url(/Images/banners/@item.ImageName);">
                                        <img src="/Images/banners/@item.ImageName" alt="">
                                    </a>
                                </div>
                            }


                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <!-- end of main-slider -->
                </div>
            }

            <div class="col-lg-4">
                <div class="row">
                    @if (banners != null && banners.Any(c => c.Position == Domain.Models.Enums.BannerPosition.RightUP))
                    {

                        <div class="col-lg-12 col-6 mb-lg-3">
                            <!-- start of banner -->
                            <div class="banner-img banner-side-main bg-position-right">
                                <a href="@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.RightUP).Link" style="background-image: url(/Images/banners/@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.RightUP).ImageName));height:220px;">
                                    <img src="/Images/banners/@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.RightUP).ImageName" alt="">
                                </a>
                            </div>
                            <!-- end of banner -->
                        </div>
                    }

                    @if (banners != null && banners.Any(c => c.Position == Domain.Models.Enums.BannerPosition.RightDown))
                    {
                        <div class="col-lg-12 col-6">
                            <!-- start of banner -->
                            <div class="banner-img banner-side-main-slider bg-position-right">
                                <a href="@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.RightDown).Link" style="background-image: url(/Images/banners/@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.RightDown).ImageName));height:220px;">
                                    <img src="/Images/banners/@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.RightDown).ImageName" alt="">
                                </a>
                            </div>
                            <!-- end of banner -->
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row mb-5">
            @if (banners != null && banners.Any(c => c.Position == Domain.Models.Enums.BannerPosition.BottomRight))
            {
                <div class="col-md-6 mb-lg-0 mb-3">
                    <!-- start of banner -->
                    <div class="banner-img">
                        <a href="@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomRight).Link">
                            <img src="/Images/banners/@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomRight).ImageName" alt="">
                        </a>
                    </div>
                    <!-- end of banner -->
                </div>
            }
            @if (banners != null && banners.Any(c => c.Position == Domain.Models.Enums.BannerPosition.BottomLeft))
            {
                <div class="col-md-6 mb-lg-0 mb-3">
                    <!-- start of banner -->
                    <div class="banner-img">
                        <a href="@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomLeft).Link">
                            <img src="/Images/banners/@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomLeft).ImageName" alt="">
                        </a>
                    </div>
                    <!-- end of banner -->
                </div>
            }
        </div>
        <!-- start of box => specials-product-slider -->
        
        <!-- end of box => specials-product-slider -->
        <!-- start of box => categories-slider -->
     
        <!-- end of box => categories-slider -->
        <div class="row mb-5">
            @* @if(banners.Any(c=>c.Position==pos))
            <div class="col-md-3 col-6 mb-lg-0 mb-3">
            <!-- start of banner -->
            <div class="banner-img">
            <a href="#">
            <img src="/site/theme-assets/images/banner/020.jpg" alt="">
            </a>
            </div>
            <!-- end of banner -->
            </div>
            <div class="col-md-3 col-6 mb-lg-0 mb-3">
            <!-- start of banner -->
            <div class="banner-img">
            <a href="#">
            <img src="/site/theme-assets/images/banner/021.jpg" alt="">
            </a>
            </div>
            <!-- end of banner -->
            </div>
            <div class="col-md-3 col-6 mb-lg-0 mb-3">
            <!-- start of banner -->
            <div class="banner-img">
            <a href="#">
            <img src="/site/theme-assets/images/banner/022.jpg" alt="">
            </a>
            </div>
            <!-- end of banner -->
            </div>
            <div class="col-md-3 col-6 mb-lg-0 mb-3">
            <!-- start of banner -->
            <div class="banner-img">
            <a href="#">
            <img src="/site/theme-assets/images/banner/023.jpg" alt="">
            </a>
            </div>
            <!-- end of banner -->
            </div>*@
        </div>
        <!-- start of box -->
       
<div class="row mb-5">
    @if (banners != null && banners.Any(c => c.Position == Domain.Models.Enums.BannerPosition.BottomRight))
    {
        <div class="col-md-6 mb-lg-0 mb-3">
            <!-- start of banner -->
            <div class="banner-img">
                <a href="@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomRight).Link">
                    <img src="/Images/banners/@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomRight).ImageName" alt="">
                </a>
            </div>
            <!-- end of banner -->
        </div>
    }
    @if (banners != null && banners.Any(c => c.Position == Domain.Models.Enums.BannerPosition.BottomLeft))
    {
        <div class="col-md-6 mb-lg-0 mb-3">
            <!-- start of banner -->
            <div class="banner-img">
                <a href="@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomLeft).Link">
                    <img src="/Images/banners/@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomLeft).ImageName" alt="">
                </a>
            </div>
            <!-- end of banner -->
        </div>
    }
</div>

<!-- start of box -->
<div class="ui-box mb-5">
    <div class="ui-box-title">لیست محصولات</div>
    <div class="ui-box-content">
        <!-- Slider main container -->
        <div class="swiper product-swiper-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper" id="swiper-wrapper-6bda93784ffaada4" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                <!-- Slides -->
               @foreach (var item in products)
                        {
                            <partial name="_ProductCart" model="item" />
                        }
                       
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic" style="width: 80px;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true" style="right: 24px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next" tabindex="0" role="button" aria-label="Go to slide 2" style="right: 24px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next" tabindex="0" role="button" aria-label="Go to slide 3" style="right: 24px;"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4" style="right: 24px;"></span></div>
            <a class="center-block " href="/Products"> نمایش همه </a>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-be3e2a4e94ad7158" aria-disabled="false"></div>
            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-be3e2a4e94ad7158" aria-disabled="false"></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
</div>
<!-- end of box -->
<div class="row mb-5">
    @if (banners != null && banners.Any(c => c.Position == Domain.Models.Enums.BannerPosition.BottomRight))
    {
        <div class="col-md-6 mb-lg-0 mb-3">
            <!-- start of banner -->
            <div class="banner-img">
                <a href="@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomRight).Link">
                    <img src="/Images/banners/@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomRight).ImageName" alt="">
                </a>
            </div>
            <!-- end of banner -->
        </div>
    }
    @if (banners != null && banners.Any(c => c.Position == Domain.Models.Enums.BannerPosition.BottomLeft))
    {
        <div class="col-md-6 mb-lg-0 mb-3">
            <!-- start of banner -->
            <div class="banner-img">
                <a href="@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomLeft).Link">
                    <img src="/Images/banners/@banners.FirstOrDefault(c=>c.Position == Domain.Models.Enums.BannerPosition.BottomLeft).ImageName" alt="">
                </a>
            </div>
            <!-- end of banner -->
        </div>
    }
</div>
</div>
<!-- start of quick-view-modal -->
<!-- end of quick-view-modal -->

</main>

@section Section
    {
   
            }
