@using Domain.ViewModels.Product
@using Application.Interface
@using Domain.Models.Product
@model ProductViewModel
@inject IProductService _ProductService;
@{
    ViewData["Title"] = "Index";
    int price = Model.Price;
    var productPrice = ViewData["productPrice"] as List<ProductPrice>;
    var similar = ViewData["Similar"] as List<Product>;
}

<main class="page-content">
    <div class="container">
        <!-- start of breadcrumb -->
        <nav class="mb-5" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">خانه</a></li>
                <li class="breadcrumb-item"><a >     @Html.Raw(Model.Category)</a></li>
                @foreach (var subCategory in Model.SubCategories)
                {
                    <li class="breadcrumb-item"><a >@subCategory</a></li>
                }
            </ol>
        </nav>
        <!-- end of breadcrumb -->
        <!-- start of product-detail-container -->
        <div class="product-detail-container mb-5">
            <div class="row">
                @if (ViewBag.Comment != null)
                {
                    <div id="notificationSweetAlert"> <partial name="_SuccessAlertToastr" /></div>
                }
                <div class="col-lg-4 col-md-5 mb-md-0 mb-4">
                    <div class="ui-sticky ui-sticky-top">
                        <!-- start of product-gallery -->

                        <div class="product-gallery">
                            <div class="product-options">
                                <ul>
                                    <!--
                                    Add this class to enable the option => 'added'.
                                    for example :
                                    <li><a href="#" class="added"><i class="ri-heart-3-fill"></i></a></li>
                                    -->
                                    <li><a onclick="ShowEditDateModal(@Model.Id)"><i class="ri-heart-3-fill"></i></a></li>


                                    <li><a href="/AddVote/@Model.Id?vote=true"><i class="fa-solid fa-thumbs-up"></i></a></li>

                                    <li><a href="/AddVote/@Model.Id?vote=false"><i class="fa-solid fa-thumbs-down"></i></a></li>
                                  @*  <li><a href="#"><i class="ri-line-chart-fill"></i></a></li>
                                    <li><a href="#"><i class="ri-scales-3-fill"></i></a></li>
                                    <li><a href="#"><i class="ri-play-list-add-fill"></i></a></li>*@
                                </ul>
                            </div>
                            <div class="gallery-img-container">
                                <div class="gallery-img">
                                    <img src="/images/img/@Model.ImageDefault" class="zoom-img" alt="" style="visibility: visible;">
                                </div>
                                <div class="gallery-thumbs">
                                    <ul>
                                        @foreach (var image in Model.ProductImages)
                                        {
                                            <li data-fancybox="gallery-a"
                                            data-src="/images/img/@image"><img src="/images/img/@image" alt=""></li>

                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end of product-gallery -->
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-7 mb-lg-0 mb-4">
                    <!-- start of breadcrumb -->
                    @*<nav class="mb-2" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">اپل</a></li>
                            <li class="breadcrumb-item"><a href="#">گوشی موبایل اپل</a></li>
                        </ol>
                    </nav>*@
                    <!-- end of breadcrumb -->
                    <!-- start of product-detail -->
                    <h2 class="product-title">
                        @Model.Title
                    </h2>
                    
                  @*  <div class="product-user-suggestion mb-2">
                        <i class="ri-thumb-up-fill text-success me-1"></i>
                        <span class="fs-7 me-2">
                            ۷۹٪ (۱۷۰ نفر) از خریداران، این کالا را پیشنهاد کرده
                            اند.
                        </span>
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="خریداران کالا با انتخاب یکی از گزینه‌های پیشنهاد یا عدم پیشنهاد، تجربه خرید خود را با کاربران به اشتراک می‌گذارند." aria-label="خریداران کالا با انتخاب یکی از گزینه‌های پیشنهاد یا عدم پیشنهاد، تجربه خرید خود را با کاربران به اشتراک می‌گذارند."><i class="ri-information-line"></i></span>
                    </div>*@
                  @*  <div class="product-user-meta fa-num mb-4">
                        <span class="product-users-rating">
                            <i class="ri-star-fill icon me-1"></i>
                            <span class="fw-bold me-1">4.4</span>
                            <span class="text-muted fs-7">(742)</span>
                        </span>
                        <span class="divider"></span>
                        <a href="#" class="link border-bottom-0 fs-7">۶۳۷ دیدگاه کاربران</a>
                        <span class="divider"></span>
                        <a href="#" class="link border-bottom-0 fs-7">۴۰۵ پرسش و پاسخ</a>
                    </div>
                    <div class="product-variants-container mb-3">
                        <div class="product-variant-selected-container">
                            <span class="product-variant-selected-label">رنگ:</span>
                            <span class="product-variant-selected">آبی</span>
                        </div>
                        <div class="product-variants">
                            <div class="product-variant-item">
                                <div class="custom-radio-circle">
                                    <input type="radio" class="custom-radio-circle-input" name="productColor" id="productColor01" checked="">
                                    <label for="productColor01" class="custom-radio-circle-label" data-variant-label="آبی">
                                        <span class="color" style="background-color: #2196f3;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="آبی" aria-label="آبی"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="product-variant-item">
                                <div class="custom-radio-circle">
                                    <input type="radio" class="custom-radio-circle-input" name="productColor" id="productColor02">
                                    <label for="productColor02" class="custom-radio-circle-label" data-variant-label="سفید">
                                        <span class="color" style="background-color: #fff;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="سفید" aria-label="سفید"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="product-variant-item">
                                <div class="custom-radio-circle">
                                    <input type="radio" class="custom-radio-circle-input" name="productColor" id="productColor03">
                                    <label for="productColor03" class="custom-radio-circle-label" data-variant-label="صورتی">
                                        <span class="color" style="background-color: #ff80ab;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="صورتی" aria-label="صورتی"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="expandable-text mb-3" style="height: 95px;">
                        <div class="expandable-text_text">
                            <div class="product-params">
                                <ul>

                                    @foreach (var item in Model.Features)
                                    {

                                        <li>
                                            <span class="label">@item.Title:</span>
                                            <span class="title">@item.FeatureValues.FirstOrDefault().Value</span>
                                        </li>

                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="expandable-text-expand-btn">
                            <span class="show-more">
                                بیشتر بخوانید <i class="ri-arrow-down-s-line"></i>
                            </span>
                            <span class="show-less d-none">
                                بستن <i class="ri-arrow-up-s-line"></i>
                            </span>
                        </div>
                    </div>
                 @*   <div class="product-additional-info-container mb-3">
                        <span class="icon">
                            <i class="ri-information-line"></i>
                        </span>
                        <div class="product-additional-info">
                            <p>
                                هشدار سامانه همتا: در صورت انجام معامله، از فروشنده کد فعالسازی را
                                گرفته
                                و حتما در حضور ایشان، دستگاه را از طریق #7777*، برای سیمکارت خود
                                فعالسازی نمایید. آموزش تصویری در آدرس اینترنتی hmti.ir/06
                            </p>
                            <p>
                                امکان برگشت کالا در گروه موبایل با دلیل "انصراف از خرید" تنها در
                                صورتی
                                مورد قبول است که پلمپ کالا باز نشده باشد.
                            </p>
                        </div>
                    </div>*@
                    <div class="widget p-0">
                        <div class="widget-content widget--free-shipping">
                            <div class="free-shipping--detail">
                                <div class="title d-flex align-items-center">
                                    <i class="ri-truck-fill me-1"></i>
                                    ارسال رایگان سفارش
                                </div>
                                <div class="subtitle">سفارش‌های بالای ۳۰۰ هزار تومان</div>
                            </div>
                            <div class="free-shipping--banner">
                                <img src="/site/theme-assets/images/theme/free-shipping--banner.png" alt="ارسال رایگان سفارش">
                            </div>
                        </div>
                    </div>
                    <!-- end of product-detail -->
                </div>
                <div class="col-xl-3 col-lg-4">
                    <!-- start of product-seller-info -->
                    <div class="product-seller-info ui-box">
                        <div class="seller-info-changeable">
                            <div class="product-seller-counter">
                                <span class="label">فروشنده</span>
                              
                            </div>
                            <div class="product-seller-row">
                                <div class="product-seller-row-icon">
                                    <!-- <i class="ri-store-3-fill"></i> -->
                                    <img src="/site/theme-assets/images/seller-logo-small.svg" alt="">
                                </div>
                               @* <div class="product-seller-row-detail">
                                    <div class="product-seller-name mb-1">یکتاکالا</div>
                                    <div class="seller-final-score-container">
                                        <div class="seller-rate-container">
                                            <span class="seller-rate fa-num">۸۸.۴٪</span>
                                            <span class="label">رضایت خریداران</span>
                                            <span class="divider"></span>
                                            <span class="label">عملکرد</span>
                                            <span class="seller-final-score">عالی</span>
                                        </div>
                                    </div>
                                    <a href="#" class="seller-info-link"></a>
                                </div>*@
                            </div>
                            <div class="product-seller-row">
                                <div class="product-seller-row-icon">
                                    <i class="ri-shield-check-fill"></i>
                                </div>
                                <div class="product-seller-row-detail">
                                    <div class="product-seller-row-detail-title">گارانتی ۱۸ ماهه</div>
                                </div>
                            </div>
                            <div class="product-seller-row product-seller-row--clickable">
                                <div class="product-seller-row-icon">
                                    <i class="ri-checkbox-multiple-fill"></i>
                                </div>
                                <div class="product-seller-row-detail">
                                    <div class="product-seller-row-detail-title">موجود در انبار</div>
                                    <div class="product-seller-row-detail-subtitle"><i></i> آماده ارسال</div>
                                </div>
                            </div>
                            @*<div class="product-seller-row">
                                <div class="product-seller-row-icon">
                                    <i class="ri-copper-coin-fill text-warning"></i>
                                </div>
                                <div class="product-seller-row-detail">
                                    <div class="product-seller-row-detail-title">
                                        ۱۵۰ امتیاز
                                        در باشگاه مشتریان
                                    </div>
                                </div>
                            </div>*@
                            <div class="product-seller-row product-seller-row--price">
                                <div class="product-seller-row--price-now fa-num">
                                    <span class="price">@Model.Price.ToString("00")</span>
                                    <span class="currency">تومان</span>
                                </div>
                            </div>
                            @*<div class="product-seller-row product-remaining-in-stock">
                                <span>
                                    تنها <span class="mx-2">۱</span> عدد در انبار باقیست - پیش از
                                    اتمام بخرید
                                </span>
                            </div>*@
                        </div>
                        <div class="product-seller--add-to-cart">

                           

                            <a href="/profile/BuyProduct/@Model.Id" class="btn btn-primary w-100" @*data-toast="" data-toast-type="success" data-toast-color="green" data-toast-position="topRight" data-toast-icon="ri-check-fill" data-toast-title="موفق!" data-toast-message="به سبد اضافه شد!"*@>

                                افزودن به سبد خرید
                            </a>
                            
                        </div>
                    </div>
                    <!-- end of product-seller-info -->
                </div>
            </div>
        </div>
        <!-- end of product-detail-container -->
        <!-- start of box -->
        <div class="ui-box bg-white mb-5">
            <div class="ui-box-title">لیست تنوع این کالا</div>
            <div class="ui-box-content">
                <!-- start of suppliers-items -->
                <div class="suppliers-items">

                    <!-- start of suppliers-item -->
                    @if (productPrice != null)
                    {

                        @foreach (var item in productPrice)
                        {



                            <div class="ui-box bg-white mb-5">
                                <div class="ui-box-content fa-num">
                                    <div class="row fs-7 fw-bold">
                                        @* <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <div class="text-muted mb-2">
                                <img src="/images/thumb/@Model.ImageDefault" alt="">
                                </div>
                                <div class="text-dark">1</div>
                                </div>*@
                                        @foreach (var item2 in item.productSelectedFeatures)
                                        {

                                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                                <div class="text-muted mb-2">@item2.Feature.Title</div>
                                                <div class="text-dark">@item2.featureValue.Value</div>
                                            </div>


                                        }

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="text-muted mb-2">قیمت</div>
                                            <div class="text-dark">@item.Price</div>
                                        </div>
                                    </div>


                                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                        <a href="/profile/BuyProduct/@Model.Id/@item.Id" class="btn btn-sm btn-outline-primary fw-bold px-4">افزودن به سبد</a>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    <!-- end of suppliers-item -->
                    <!-- start of suppliers-item -->
                    <!-- end of suppliers-item -->
                </div>
                <!-- end of suppliers-items -->
            </div>
        </div>
        <!-- end of box -->
        <!-- start of box -->
        <div class="ui-box mb-5">
            <div class="ui-box-title">محصولات مشابه</div>
            <div class="ui-box-content">
                <!-- Slider main container -->
                <div class="swiper product-swiper-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper" id="swiper-wrapper-f832b0ae42d8341f" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                        <!-- Slides -->
                        @if (similar != null)
                        {
                            @foreach (var item in similar)
                            {
                                <div class="swiper-slide" role="group" aria-label="8 / 8" style="width: 230.8px; margin-left: 10px;">
                                    <!-- start of product-card -->
                                    <div class="product-card">
                                        <div class="product-thumbnail">
                                            <a href="#">
                                                <img src="/images/thumb/@item.ProductGalleries.FirstOrDefault(c=>c.IsDefault).ImageName" alt="product title">
                                            </a>
                                        </div>
                                        <div class="product-card-body">
                                            <h2 class="product-title">
                                                <a href="/product/@item.Id">
                                                    @item.Title
                                                </a>
                                            </h2>
                                            <div class="product-variant">
                                                <span class="color" style="background-color: #24476e;"></span>
                                                <span class="color" style="background-color: #12505b;"></span>
                                                <span class="color" style="background-color: #e4a793;"></span>
                                                <span>+</span>
                                            </div>
                                            <div class="product-price fa-num">
                                                <div class="d-flex align-items-center">
                                                    <del class="price-old">23,570,000</del>
                                                    <span class="discount ms-2">%3</span>
                                                </div>
                                                <span class="price-now">@item.Price <span class="currency">تومان</span></span>
                                            </div>
                                        </div>
                                        <div class="product-card-footer">
                                            <div class="d-flex align-items-center justify-content-between border-top mt-2 py-2">
                                                <div class="product-actions">
                                                    <ul>
                                                        <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a></li>
                                                        <li>
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="product-rating fa-num">
                                                    @await Component.InvokeAsync("GetVotes",item.Id)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of product-card -->
                                </div>
                            }
                        }

                        @* <div class="swiper-slide" role="group" aria-label="8 / 8" style="width: 230.8px; margin-left: 10px;">
                        <!-- start of product-card -->
                        <div class="product-card">
                        <div class="product-thumbnail">
                        <a href="#">
                        <img src="/site/theme-assets/images/products/08.jpg" alt="product title">
                        </a>
                        </div>
                        <div class="product-card-body">
                        <h2 class="product-title">
                        <a href="#">
                        گوشی موبایل سامسونگ مدل Galaxy Note 20 5G SM-N981B/DS دو سیم
                        کارت ظرفیت 256 گیگابایت و رم 8
                        </a>
                        </h2>
                        <div class="product-variant">
                        <span class="color" style="background-color: #24476e;"></span>
                        <span class="color" style="background-color: #12505b;"></span>
                        <span class="color" style="background-color: #e4a793;"></span>
                        <span>+</span>
                        </div>
                        <div class="product-price fa-num">
                        <div class="d-flex align-items-center">
                        <del class="price-old">23,570,000</del>
                        <span class="discount ms-2">%3</span>
                        </div>
                        <span class="price-now">22,799,000 <span class="currency">تومان</span></span>
                        </div>
                        </div>
                        <div class="product-card-footer">
                        <div class="d-flex align-items-center justify-content-between border-top mt-2 py-2">
                        <div class="product-actions">
                        <ul>
                        <li><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a></li>
                        <li>
                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع" data-remodal-target="quick-view-modal"><i class="ri-search-line"></i></a>
                        </li>
                        <li>
                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی"><i class="ri-heart-3-line"></i></a>
                        </li>
                        </ul>
                        </div>
                        <div class="product-rating fa-num">
                        <i class="ri-star-fill star"></i>
                        <strong>۴.۴</strong>
                        <span>(۴۳۶)</span>
                        </div>
                        </div>
                        </div>
                        </div>
                        <!-- end of product-card -->
                        </div>*@
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic" style="width: 80px;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true" style="right: 24px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next" tabindex="0" role="button" aria-label="Go to slide 2" style="right: 24px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next" tabindex="0" role="button" aria-label="Go to slide 3" style="right: 24px;"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4" style="right: 24px;"></span></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-8ec4dd4f1087575d6" aria-disabled="false"></div>
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-8ec4dd4f1087575d6" aria-disabled="false"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
        </div>
        <!-- end of box -->
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="ui-sticky ui-sticky-top mb-4">
                    <!-- start of product-tabs -->
                    <div class="product-tabs">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="#scrollspyHeading1" data-scroll="scrollspyHeading1">نقد و بررسی</a>
                            </li>
                          
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyHeading3" data-scroll="scrollspyHeading3">مشخصات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyHeading4" data-scroll="scrollspyHeading4">دیدگاه کاربران</a>
                            </li>
                           @* <li class="nav-item">
                                <a class="nav-link" href="#scrollspyHeading5" data-scroll="scrollspyHeading5">پرسش و پاسخ</a>
                            </li>*@
                        </ul>
                    </div>
                    <!-- end of product-tabs -->
                </div>
                <!-- start of product-content-expert-summary -->
                <div class="product-tab-content product-content-expert-summary tab-content border-bottom pb-2 mb-4" id="scrollspyHeading1">
                    <div class="product-tab-title">
                        <h2>نقد و بررسی اجمالی</h2>
                        <h3 class="subtitle">Apple iPhone 13 A2634 Dual SIM 128GB And 4GB RAM Mobile Phone</h3>
                    </div>
                    <div class="expandable-text pt-1" style="height: 250px;">
                        <div class="expandable-text_text">
                            <p>
                                @Model.Description
                            </p>
                        </div>
                        <div class="expandable-text-expand-btn justify-content-start text-sm">
                            <span class="show-more active">
                                ادامه مطلب <i class="ri-arrow-down-s-line ms-2"></i>
                            </span>
                            <span class="show-less d-none">
                                مشاهده کمتر <i class="ri-arrow-up-s-line ms-2"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end of product-content-expert-summary -->
                <!-- start of product-content-expert-articles -->
                <!-- end of product-content-expert-articles -->
                <!-- start of product-params -->
                <div class="product-tab-content product-params tab-content border-bottom pb-2 mb-4" id="scrollspyHeading3">
                   @* <div class="product-tab-title">
                        <h2>مشخصات کالا</h2>
                        <h3 class="subtitle">Apple iPhone 13 A2634 Dual SIM 128GB And 4GB RAM Mobile Phone</h3>
                    </div>*@
                    <div class="expandable-text pt-1" style="height: 540px;">
                        <div class="expandable-text_text fa-num">
                            <!-- start of params-list -->
                            <div class="params-list">
                                <div class="params-list-title">مشخصات کلی</div>

                                <ul>
                                    @foreach (var item in Model.Features)
                                    {
                                        <li>
                                            <span class="param-title">@item.Title</span>
                                            <span class="param-value">@item.FeatureValues.FirstOrDefault().Value</span>
                                        </li>

                                    }
                                </ul>

                            </div>
                            <!-- end of params-list -->
                        </div>
                        <div class="expandable-text-expand-btn justify-content-start text-sm">
                            <span class="show-more active">
                                نمایش همه مشخصات کالا <i class="ri-arrow-down-s-line ms-2"></i>
                            </span>
                            <span class="show-less d-none">
                                فقط نمایش مشخصات کلی کالا <i class="ri-arrow-up-s-line ms-2"></i>
                            </span>
                        </div>
                    </div>
                </div>

               


                <!-- end of product-params -->
                <!-- start of product-comments -->
                <div class="product-tab-content product-comments tab-content border-bottom pb-2 mb-4" id="scrollspyHeading4">
                    <div class="product-tab-title mb-0">
                        <h2>  دیدگاه کاربران</h2>
                        <h3 class="subtitle">@Model.Title</h3>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-5 mb-3">
                            <div class="ui-sticky ui-sticky-top pt-5 z-index-0">
                                <!-- start of comments-sidebar -->
                                <div class="comments-sidebar">
                                 @*   <div class="comments-sidebar-rating">
                                        <div class="comments-sidebar-rating-main me-2">۴.۱</div>
                                        <div class="comments-sidebar-rating-desc">از ۵</div>
                                    </div>
                                    <div class="comments-sidebar-rating-bottom">
                                        <div class="stars-container justify-content-end">
                                            <div class="stars-text ms-2">از مجموع ۹۴۰ امتیاز</div>
                                            <div class="stars">
                                                <div class="stars-val" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                    </div>*@
                                    @*<div class="content-expert-rating mt-4">
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">کیفیت ساخت</div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">
                                                ارزش خرید به نسبت قیمت
                                            </div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">نوآوری</div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">امکانات و قابلیت ها</div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">سهولت استفاده</div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="content-expert-rating-title">طراحی و ظاهر</div>
                                            <div class="content-expert-rating-value-wrapper">
                                                <div class="content-expert-rating-value" style="width: 90%;">
                                                </div>
                                                <div class="content-expert-rating-value-label">۴.۱</div>
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="mb-2">دیدگاه خود را درباره این کالا بیان کنید</div>
                                    <a href="/AddComment/@Model.Id" class="btn btn-block btn-outline-primary">
                                        افزودن
                                        دیدگاه
                                    </a>
                                </div>
                                <!-- end of comments-sidebar -->
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-7 pt-5">
                            <!-- start of filter-comments -->
                           @* <div class="filter-comments mb-4">
                                <div class="filter-comments-title me-2">
                                    <i class="ri-list-settings-fill me-1"></i>
                                    <span>مرتب سازی دیدگاه ها بر اساس:</span>
                                </div>
                                <div class="filter-comments-options">
                                    <button class="filter-comments-option active">جدیدترین دیدگاه ها</button>
                                    <button class="filter-comments-option">مفیدترین دیدگاه ها</button>
                                    <button class="filter-comments-option">دیدگاه خریداران</button>
                                </div>
                            </div>*@
                            <!-- end of filter-comments -->
                            <!-- start of comments -->
                            @await Component.InvokeAsync("ShowComment",Model.Id)

                            <!-- end of comments -->
                        </div>
                    </div>
                </div>
                <!-- end of product-comments -->
                <!-- start of product-questions -->
                <!-- end of product-questions -->
            </div>
            <div class="col-xl-3 col-lg-4 d-lg-block d-none">
                <div class="ui-sticky ui-sticky-top">
                    <!-- start of mini-buy-box -->
                    <!-- end of mini-buy-box -->
                </div>
            </div>
        </div>

        <!-- start of notification-modal -->
        <!-- end of notification-modal -->
        <!-- start of add-question-modal -->
        <!-- end of add-question-modal -->
        <!-- start of share-modal -->
        <!-- end of share-modal -->
        <!-- start of quick-view-modal -->
        <!-- end of quick-view-modal -->
    </div>
</main>

@section Section

    {


    

    <script>


        function ShowEditDateModal(requestId) {
            $.ajax({
                url: "/AddFavoriteProduct",
                type: "get",
                data: {
                    id: requestId
                },
                beforeSend: function () {
                    //open_waiting();
                },
                success: function (res) {
                    //close_waiting();
                    //$("#DateTimeModal").modal("show");
                },
                error: function () {
                    //close_waiting();
                    //ShowMessage("اعلان", "عملیات با خطا مواجه شد لطفا مجدد تلاش کنید .", "error");
                }
            });
        }


        $('#notificationSweetAlert').fadeOut(5000)




    </script>





       

}

